{
    "jsc": {
        "parser": {
            "syntax": "typescript",
            "decorators": true
        },
        "baseUrl": "./src",
        "paths": {
            "#seedwork/*": [
                "./@seedwork/*"
            ],
            "#category/*": [
                "./category/*"
            ]
        }
    }
}